body {
  background-color: darkblue;
}
#text {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}
#controls {
  border: 1px black solid;
  padding: 5px;
}
#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}
#monsterStats {
  display: none;
  border: 1px black lid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}
