h1{
    background-color: lightblue;
    width: 150px;
    border: 2px solid black;  /* border-shorthand:width,style,color */
    border-radius: 8px;
    text-align: center;
}
button{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: lightgreen;
}
div{
    margin-top: 20px;
    /* margin: auto; */
    padding-top: 20px;
    /* height: 100px; */
    padding: 10px;
    width: 150px;
    background-color: antiquewhite;
    border: 2px dashed black;
    border-radius: 50%;
    text-align: center;
}
